<a href="https://colab.research.google.com/github/Codestronomer/HamoyeAI_Internship/blob/main/Stage%20B%20quiz%20code%20snippets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.metrics import r2_score

In [9]:
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/00374/energydata_complete.csv')

df.head()

                  date  Appliances  lights  ...  Tdewpoint        rv1        rv2
0  2016-01-11 17:00:00          60      30  ...        5.3  13.275433  13.275433
1  2016-01-11 17:10:00          60      30  ...        5.2  18.606195  18.606195
2  2016-01-11 17:20:00          50      30  ...        5.1  28.642668  28.642668
3  2016-01-11 17:30:00          50      40  ...        5.0  45.410389  45.410389
4  2016-01-11 17:40:00          60      40  ...        4.9  10.084097  10.084097

[5 rows x 29 columns]

In [11]:
df.describe(include='all')

                       date    Appliances  ...           rv1           rv2
count                 19735  19735.000000  ...  19735.000000  19735.000000
unique                19735           NaN  ...           NaN           NaN
top     2016-01-11 17:00:00           NaN  ...           NaN           NaN
freq                      1           NaN  ...           NaN           NaN
mean                    NaN     97.694958  ...     24.988033     24.988033
std                     NaN    102.524891  ...     14.496634     14.496634
min                     NaN     10.000000  ...      0.005322      0.005322
25%                     NaN     50.000000  ...     12.497889     12.497889
50%                     NaN     60.000000  ...     24.897653     24.897653
75%                     NaN    100.000000  ...     37.583769     37.583769
max                     NaN   1080.000000  ...     49.996530     49.996530

[11 rows x 29 columns]

In [12]:
df.isnull().sum()

date           0
Appliances     0
lights         0
T1             0
RH_1           0
T2             0
RH_2           0
T3             0
RH_3           0
T4             0
RH_4           0
T5             0
RH_5           0
T6             0
RH_6           0
T7             0
RH_7           0
T8             0
RH_8           0
T9             0
RH_9           0
T_out          0
Press_mm_hg    0
RH_out         0
Windspeed      0
Visibility     0
Tdewpoint      0
rv1            0
rv2            0
dtype: int64

In [17]:
# Takes T2 from the dataframe
X = df[['T2']]

# Takes T6 from the dataframe
y = df[['T6']]

In [86]:
from sklearn.model_selection import train_test_split

X_train_1, X_test_1, y_train_1, y_test_1 = train_test_split(X, y)

In [87]:
# Checks shape of training data set
X_train_1.shape, y_train_1.shape

((14801, 1), (14801, 1))

In [88]:
# Checks shape of test data set
X_test_1.shape, y_test_1.shape

((4934, 1), (4934, 1))

In [89]:
from sklearn.linear_model import LinearRegression

In [90]:
model1 = LinearRegression()

# Trains the model
model1.fit(X_train_1, y_train_1)

LinearRegression()

In [91]:
# predicts with trained model
pred = model1.predict(X_test_1)

In [92]:
from sklearn.metrics import r2_score

In [94]:
accuracy = r2_score(pred, y_test_1)
round(accuracy, 2)

0.43

In [97]:
# Removes date and lights from the dataset
df2 = df.drop(['date', 'lights'], axis=1)
df2.head()

   Appliances     T1       RH_1  ...  Tdewpoint        rv1        rv2
0          60  19.89  47.596667  ...        5.3  13.275433  13.275433
1          60  19.89  46.693333  ...        5.2  18.606195  18.606195
2          50  19.89  46.300000  ...        5.1  28.642668  28.642668
3          50  19.89  46.066667  ...        5.0  45.410389  45.410389
4          60  19.89  46.333333  ...        4.9  10.084097  10.084097

[5 rows x 27 columns]

In [98]:
from sklearn.preprocessing import MinMaxScaler

In [99]:
scaler = MinMaxScaler()

# Normalize the dataset
normalized_df = pd.DataFrame(scaler.fit_transform(df2), columns=df2.columns)
normalized_df.head()

   Appliances       T1      RH_1  ...  Tdewpoint       rv1       rv2
0    0.046729  0.32735  0.566187  ...   0.538462  0.265449  0.265449
1    0.046729  0.32735  0.541326  ...   0.533937  0.372083  0.372083
2    0.037383  0.32735  0.530502  ...   0.529412  0.572848  0.572848
3    0.037383  0.32735  0.524080  ...   0.524887  0.908261  0.908261
4    0.046729  0.32735  0.531419  ...   0.520362  0.201611  0.201611

[5 rows x 27 columns]

In [100]:
featured_df = normalized_df.drop(['Appliances'], axis=1)

# Get the target variable from the normalized dataset
target = normalized_df[['Appliances']]
target.head()

   Appliances
0    0.046729
1    0.046729
2    0.037383
3    0.037383
4    0.046729

In [101]:
X_train, X_test, y_train, y_test = train_test_split(featured_df, target, train_size=0.7, random_state=42)

In [102]:
model = LinearRegression()

# Train the model
model.fit(X_train, y_train)

LinearRegression()

In [103]:
pred_values = model.predict(X_test)

In [104]:
from sklearn.metrics import mean_absolute_error

In [105]:
# Mean absolute error
mae = mean_absolute_error(y_test, pred_values)
round(mae, 2)

0.05

In [106]:
# Residual sum of squares
rss = np.sum(np.square(y_test - pred_values))
round(rss, 2)

Appliances    45.35
dtype: float64

In [107]:
# Root Mean Square Error (RMSE)
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, pred_values))
round(rmse, 3)

0.088

In [110]:
# Coefficient of Determination

from sklearn.metrics import r2_score
c_o_d = r2_score(y_test, pred_values)
round(c_o_d, 2)

0.15

In [146]:
# Ridge Regression
from sklearn.linear_model import Ridge

ridge_reg = Ridge(alpha=0.4)
ridge_reg.fit(X_train, y_train)

# Lasso Regression
from sklearn.linear_model import Lasso
lasso_reg = Lasso()
lasso_reg.fit(X_train, y_train)

# Comparing the effect of regularisation
def df_weights(model, feat, col_name):
    # this function returns the weight of every feature
    weights = pd.Series(model.coef_[0], feat.columns)
    weights_df = pd.DataFrame(weights).reset_index()
    weights_df.columns = ['Features', col_name]
    weights_df[col_name].round(3)
    return weights_df

linear_model_weights = df_weights(model, X_train, 'Linear_model_weight')
ridge_weights_df = df_weights(ridge_reg, X_train, 'Ridge_Weight')
lasso_weights_df = df_weights(lasso_reg, X_train, 'Lasso Weight')
final_weights = pd.merge(linear_model_weights, ridge_weights_df, on='Features')
final_weights = pd.merge(final_weights, lasso_weights_df, on='Features')
final_weights

       Features  Linear_model_weight  Ridge_Weight  Lasso Weight
0            T1            -0.003281     -0.018406           0.0
1          RH_1             0.553547      0.519525           0.0
2            T2            -0.236178     -0.201397           0.0
3          RH_2            -0.456698     -0.411071           0.0
4            T3             0.290627      0.288087           0.0
5          RH_3             0.096048      0.095135           0.0
6            T4             0.028981      0.027384           0.0
7          RH_4             0.026386      0.024579           0.0
8            T5            -0.015657     -0.019853           0.0
9          RH_5             0.016006      0.016152           0.0
10           T6             0.236425      0.217292           0.0
11         RH_6             0.038049      0.035519           0.0
12           T7             0.010319      0.010098           0.0
13         RH_7            -0.044614     -0.045977           0.0
14           T8             0.101995      0.101028           0.0
15         RH_8            -0.157595     -0.156830           0.0
16           T9            -0.189941     -0.188916           0.0
17         RH_9            -0.039800     -0.041367           0.0
18        T_out            -0.321860     -0.262172           0.0
19  Press_mm_hg             0.006839      0.006584           0.0
20       RH_out            -0.077671     -0.054724           0.0
21    Windspeed             0.029183      0.030268           0.0
22   Visibility             0.012307      0.012076           0.0
23    Tdewpoint             0.117758      0.083128           0.0
24          rv1             0.000770      0.000748           0.0
25          rv2             0.000770      0.000748           0.0

In [143]:
# Ridge RMSE
ridge_pred = ridge_reg.predict(X_test)
ridge_rmse = np.sqrt(mean_squared_error(y_test, pred_values))
round(ridge_rmse, 3)

0.088

In [151]:
# Lasso Regression
lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(X_train, y_train)


# Comparing the effect of regularisation
def df_weights(model, feat, col_name):
    # this function returns the weight of every feature
    weights = pd.Series(model.coef_[0], feat.columns)
    weights_df = pd.DataFrame(weights).reset_index()
    weights_df.columns = ['Features', col_name]
    weights_df[col_name].round(3)
    return weights_df

lasso_weights_df = df_weights(lasso_reg, X_train, 'Lasso Weight')
lasso_weights_df

       Features  Lasso Weight
0            T1           0.0
1          RH_1           0.0
2            T2           0.0
3          RH_2           0.0
4            T3           0.0
5          RH_3           0.0
6            T4           0.0
7          RH_4           0.0
8            T5           0.0
9          RH_5           0.0
10           T6           0.0
11         RH_6           0.0
12           T7           0.0
13         RH_7           0.0
14           T8           0.0
15         RH_8           0.0
16           T9           0.0
17         RH_9           0.0
18        T_out           0.0
19  Press_mm_hg           0.0
20       RH_out           0.0
21    Windspeed           0.0
22   Visibility           0.0
23    Tdewpoint           0.0
24          rv1           0.0
25          rv2           0.0

In [150]:
# Lasso RMSE
lasso_pred = lasso_reg.predict(X_test)
lasso_rmse = np.sqrt(mean_squared_error(y_test, pred_values))
round(lasso_rmse, 3)

0.088